body {
  font-family: system-ui, sans;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

fieldset > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 32em;
}

form input {
  width: 100%;
  grid-column: span 2 / span 2;
}

form .field-error {
  font-weight: 600;
  color: red;
}
