@import-normalize;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, sans;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

fieldset {
  margin: 0 auto;
  max-width: 36em;
  padding: 1em;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: 32em;
}

.form-row input {
  width: 100%;
  grid-column: span 2 / span 2;
}

form .field-error {
  font-weight: 600;
  color: red;
  grid-column: span 3 / span 3;
}

form button {
  grid-column: span 3 / span 3;
  margin: 0 auto;
}
